{% extends 'base.html.twig' %}

{% block meta %}

    <meta name="dc.language" content="VN">
    <meta name="dc.source" content="https://laptravels.com">
    <meta name="dc.creator" content="LAPTravels" />
    <meta name="distribution" content="Global" />
    <meta name="revisit" content="1 days" />
    <meta name="geo.placename" content="Vietnam" />
    <meta name="geo.region" content="Ho Chi Minh" />
    <meta name="generator" content="https://laptravels.com" />

    <link rel="canonical" href="https://laptravels.com/{{post.slug}}" />
    <link rel="publisher" href="https://laptravels.com"/>
    <meta property="og:locale" content="vi_VN" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
    <meta property="og:url" content="{{ pageURL }}" />
    <meta property="og:site_name" content="LAPTravels" />
    <meta property="article:publisher" content="{{ fbPage }}" />
    <meta property="article:section" content="" />
    <meta property="article:published_time" content="" />
    <meta property="article:modified_time" content="" />
    <meta property="og:updated_time" content="" />
    <meta property="og:image" content="{{ post.thumbUrl }}" />
    <meta property="og:image:secure_url" content="{{ pageURL }}" />
    <meta property="og:image:width" content="1430" />
    <meta property="og:image:height" content="955" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="{{ post.thumbUrl }}" />
    <meta property="sailthru.tags" content=""/>
    <meta name="sailthru.image.full" content="{{ post.thumbUrl }}" />

    <title>LAP Travels - {{ title }}</title>

{% endblock %}

{% block content %}


        <h2 class="mb-3">{{ post.name }}</h2>
        {{ post.content | raw}}


        <div class="about-author d-flex p-5 bg-light">
            <div class="bio align-self-md-center mr-5">
                <img src="{{ asset("/app/images/person_1.jpg")}}" alt="Image placeholder" class="img-fluid mb-4">
            </div>
            <div class="desc align-self-md-center">
                <h3>LAP Travels</h3>
                <p>LAP Travels là website chia sẻ thông tin du lịch hàng đầu Việt Nam. Đến với LAP Travels, tận hưởng chuyến đi thú vị nhất với lịch trình cực cool ♫♫♫♥♥x`	</p>
            </div>
        </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
