{% extends 'base.html.twig' %}

{% block meta %}

{% endblock %}
{% block content %}
    <h2>Bài viết mới nhất</h2>

    {% for post in posts %}
        <div class="intro-box">
            <div class="box-left"><img src="{{ asset('uploads/thumbs/'~post.thumbUrl) }}"></div>
            <div class="box-right">
                <h3><a href="{{ path('blog_details', {slug:post.slug}) }}">{{ post.title }}</a></h3>
                <p>{{ post.summary }}</p>
            </div>
            <div class="clear-fix"></div>
        </div>
    {% endfor %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
