{% extends 'base.html.twig' %}

{% block meta %}
    <meta name="dc.language" content="VN">
    <meta name="dc.source" content="https://laptravels.com">
    <meta name="dc.creator" content="LAPTravels"/>
    <meta name="distribution" content="Global"/>
    <meta name="revisit" content="1 days"/>
    <meta name="geo.placename" content="Vietnam"/>
    <meta name="geo.region" content="Ho Chi Minh"/>
    <meta name="generator" content="https://laptravels.com"/>

    <meta property="fb:pages" content="139409226071758">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ meta }}"/>
    <link rel="canonical" href="{{ pageURL }}"/>
    <link rel="publisher" href="https://laptravels.com"/>
    <meta property="og:locale" content="vi_VN"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{ titleSeo }}"/>
    <meta property="og:description" content="{{ meta }}"/>
    <meta property="og:url" content="https://laptravels.com"/>
    <meta property="og:site_name" content="MarryBaby"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:description" content="{{ meta }}"/>
    <meta name="twitter:title" content="{{ titleSeo }}"/>

    <title>LAP Travels - {{ title }}</title>
{% endblock %}
 {% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('theme/css/domestic.css')}}">
 {% endblock %}

{% block addBanner %}
    <div class="clearfix" style="height: 60px;"></div>
{% endblock %}
{% block content %}
    <div _ngcontent-jkt-c41="" class="product-widget-wrap">
        <a _ngcontent-jkt-c41="" class="product-content-link ng-star-inserted" target="_blank" href="https://deals.airasia.com?utm_source=airasia&amp;utm_medium=product_widget">
            <div _ngcontent-jkt-c41="" class="product-widget-content ng-star-inserted">
                <div _ngcontent-jkt-c41="" class="product-widget-title">
                    <h2 _ngcontent-jkt-c41="" class="ng-star-inserted">
                            Miền Bắc</h2><!----><i _ngcontent-jkt-c41="" class="material-icons ng-star-inserted">chevron_right</i>
                </div>
                <p _ngcontent-jkt-c41="" class="ng-star-inserted">Trải nghiệm tuyệt vời về lịch sử đan xen giữa núi non hùng vĩ</p>
            </div>
        </a>
    </div>
    <section class="slide-three slider">
        <div>
            <img src="http://placehold.it/350x300?text=1">

        </div>
        <div>
            <img src="http://placehold.it/350x300?text=2">
        </div>
        <div>
            <img src="http://placehold.it/350x300?text=3">
        </div>
        <div>
            <img src="http://placehold.it/350x300?text=4">
        </div>
        <div>
            <img src="http://placehold.it/350x300?text=5">
        </div>
        <div>
            <img src="http://placehold.it/350x300?text=6">
        </div>
    </section>
    <div _ngcontent-jkt-c41="" class="product-widget-wrap">
        <a _ngcontent-jkt-c41="" class="product-content-link ng-star-inserted" target="_blank" href="https://deals.airasia.com?utm_source=airasia&amp;utm_medium=product_widget">
            <div _ngcontent-jkt-c41="" class="product-widget-content ng-star-inserted">
                <div _ngcontent-jkt-c41="" class="product-widget-title">
                    <h2 _ngcontent-jkt-c41="" class="ng-star-inserted">
                        Miền Trung</h2><!----><i _ngcontent-jkt-c41="" class="material-icons ng-star-inserted">chevron_right</i>
                </div>
                <p _ngcontent-jkt-c41="" class="ng-star-inserted">Hành trình di sản và các khu du lịch nổi tiếng</p>
            </div>
        </a>
    </div>
    <section class="slide-three slider">
        <div>
            <img src="http://placehold.it/350x300?text=1">

        </div>
        <div>
            <img src="http://placehold.it/350x300?text=2">
        </div>
        <div>
            <img src="http://placehold.it/350x300?text=3">
        </div>
        <div>
            <img src="http://placehold.it/350x300?text=4">
        </div>
        <div>
            <img src="http://placehold.it/350x300?text=5">
        </div>
        <div>
            <img src="http://placehold.it/350x300?text=6">
        </div>
    </section>

    <div _ngcontent-jkt-c41="" class="product-widget-wrap">
        <a _ngcontent-jkt-c41="" class="product-content-link ng-star-inserted" target="_blank" href="https://deals.airasia.com?utm_source=airasia&amp;utm_medium=product_widget">
            <div _ngcontent-jkt-c41="" class="product-widget-content ng-star-inserted">
                <div _ngcontent-jkt-c41="" class="product-widget-title">
                    <h2 _ngcontent-jkt-c41="" class="ng-star-inserted">
                        Miền Nam</h2><!----><i _ngcontent-jkt-c41="" class="material-icons ng-star-inserted">chevron_right</i>
                </div>
                <p _ngcontent-jkt-c41="" class="ng-star-inserted">Vùng đất kì thú này với loạt tour du lịch giá rẻ</p>
            </div>
        </a>
    </div>
    <section class="slide-three slider">
        <div>
            <img src="http://placehold.it/350x300?text=1">

        </div>
        <div>
            <img src="http://placehold.it/350x300?text=2">
        </div>
        <div>
            <img src="http://placehold.it/350x300?text=3">
        </div>
        <div>
            <img src="http://placehold.it/350x300?text=4">
        </div>
        <div>
            <img src="http://placehold.it/350x300?text=5">
        </div>
        <div>
            <img src="http://placehold.it/350x300?text=6">
        </div>
    </section>
{% endblock %}

{% block photoGallery %}{% endblock %}

{% block recentBlog %}
    <div class="right-col">
        <div class="page-block page-news">
        <div class="block-header">
            <span class="siteicon-favors">&nbsp;</span><span>Được quan tâm nhất</span>
        </div>
        <div class="block-content">
            <div class="radius-lb-6">
                <ul class="page-news-list">
                    <li>
                        <div class="item-clear-float">
                            <div class="page-news-avatar f-left">
                                <a href="https://www.marrybaby.vn/sau-khi-sinh/nuoi-day-con/tiem-phong-cho-tre-nhung-mui-tiem-quan-trong" title="Tiêm phòng cho trẻ: Những mũi tiêm không thể thiếu!">
                                    <img src="https://www.marrybaby.vn/wp-content/uploads/2015/01/20/lich-tiem-phong-cho-tre-so-sinh-100x100.jpg" alt="Tiêm phòng cho trẻ: Những mũi tiêm không thể thiếu!" class="img-rounded" width="86" height="86">
                                </a>
                            </div>
                            <div class="page-news-desc-wrapper f-left">
                                <a href="https://www.marrybaby.vn/sau-khi-sinh/nuoi-day-con/tiem-phong-cho-tre-nhung-mui-tiem-quan-trong" class="page-news-title" rel="nofollow" title="Tiêm phòng cho trẻ: Những mũi tiêm không thể thiếu!">Tiêm phòng cho trẻ: Những mũi tiêm...</a>
                                <div class="page-news-desc"></div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-clear-float">
                            <div class="page-news-avatar f-left">
                                <a href="https://www.marrybaby.vn/sau-khi-sinh/nuoi-day-con/doan-suc-khoe-tre-em-qua-mau-nuoc-tieu" title="Đoán sức khỏe trẻ em qua màu nước tiểu">
                                    <img src="https://www.marrybaby.vn/wp-content/uploads/2015/04/22/mau-nuoc-tieu-cua-be-e1429693817237-100x100.jpg" alt="Đoán sức khỏe trẻ em qua màu nước tiểu" class="img-rounded" width="86" height="86">
                                </a>
                            </div>
                            <div class="page-news-desc-wrapper f-left">
                                <a href="https://www.marrybaby.vn/sau-khi-sinh/nuoi-day-con/doan-suc-khoe-tre-em-qua-mau-nuoc-tieu" class="page-news-title" rel="nofollow" title="Đoán sức khỏe trẻ em qua màu nước tiểu">Đoán sức khỏe trẻ em qua màu nước tiểu</a>
                                <div class="page-news-desc"></div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-clear-float">
                            <div class="page-news-avatar f-left">
                                <a href="https://www.marrybaby.vn/be-tu-4-den-6-tuoi/10-tro-choi-cho-be-5-tuoi" title="10 trò chơi giúp bé phát triển kỹ năng">
                                    <img src="https://www.marrybaby.vn/wp-content/uploads/2015/08/26/tro-choi-cho-be-100x100.jpg" alt="10 trò chơi giúp bé phát triển kỹ năng" class="img-rounded" width="86" height="86">
                                </a>
                            </div>
                            <div class="page-news-desc-wrapper f-left">
                                <a href="https://www.marrybaby.vn/be-tu-4-den-6-tuoi/10-tro-choi-cho-be-5-tuoi" class="page-news-title" rel="nofollow" title="10 trò chơi giúp bé phát triển kỹ năng">10 trò chơi giúp bé phát triển kỹ năng</a>
                                <div class="page-news-desc"></div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-clear-float">
                            <div class="page-news-avatar f-left">
                                <a href="https://www.marrybaby.vn/sau-khi-sinh/nuoi-day-con/day-be-hoc-so-voi-meo-cuc-don-gian" title="Dạy bé học số với mẹo cực đơn giản">
                                    <img src="https://www.marrybaby.vn/wp-content/uploads/2015/04/07/day-be-hoc-so-thong-qua-tro-choi-100x100.jpg" alt="Dạy bé học số với mẹo cực đơn giản" class="img-rounded" width="86" height="86">
                                </a>
                            </div>
                            <div class="page-news-desc-wrapper f-left">
                                <a href="https://www.marrybaby.vn/sau-khi-sinh/nuoi-day-con/day-be-hoc-so-voi-meo-cuc-don-gian" class="page-news-title" rel="nofollow" title="Dạy bé học số với mẹo cực đơn giản">Dạy bé học số với mẹo cực đơn giản</a>
                                <div class="page-news-desc"></div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-clear-float">
                            <div class="page-news-avatar f-left">
                                <a href="https://www.marrybaby.vn/be-tu-4-den-6-tuoi/con-trung-can-va-cach-xu-ly" title="Sai lầm của mẹ khi xử lý vết cắn, đốt của côn trùng">
                                    <img src="https://www.marrybaby.vn/wp-content/uploads/2015/07/14/con-trung-can-pr-rohto-2-100x100.jpg" alt="Sai lầm của mẹ khi xử lý vết cắn, đốt của côn trùng" class="img-rounded" width="86" height="86">
                                </a>
                            </div>
                            <div class="page-news-desc-wrapper f-left">
                                <a href="https://www.marrybaby.vn/be-tu-4-den-6-tuoi/con-trung-can-va-cach-xu-ly" class="page-news-title" rel="nofollow" title="Sai lầm của mẹ khi xử lý vết cắn, đốt của côn trùng">Sai lầm của mẹ khi xử lý vết cắn, đốt...</a>
                                <div class="page-news-desc"></div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="block-teddy">&nbsp;</div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
{% endblock %}
