{% extends 'base.html.twig' %}

{% block meta %}
    <meta name="dc.language" content="VN">
    <meta name="dc.source" content="https://laptravels.com">
    <meta name="dc.creator" content="LAPTravels"/>
    <meta name="distribution" content="Global"/>
    <meta name="revisit" content="1 days"/>
    <meta name="geo.placename" content="Vietnam"/>
    <meta name="geo.region" content="Ho Chi Minh"/>
    <meta name="generator" content="https://laptravels.com"/>

    <meta property="fb:pages" content="139409226071758">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ meta }}"/>
    <link rel="canonical" href="{{ pageURL }}"/>
    <link rel="publisher" href="https://laptravels.com"/>
    <meta property="og:locale" content="vi_VN"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{ titleSeo }}"/>
    <meta property="og:description" content="{{ meta }}"/>
    <meta property="og:url" content="https://laptravels.com"/>
    <meta property="og:site_name" content="MarryBaby"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:description" content="{{ meta }}"/>
    <meta name="twitter:title" content="{{ titleSeo }}"/>

    <title>LAP Travels - {{ title }}</title>
{% endblock %}
 {% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('theme/css/domestic.css')}}">
 {% endblock %}

{% block addBanner %}
    <div class="clearfix" style="height: 60px;"></div>
{% endblock %}
{% block mainContent %}
    <div _ngcontent-jkt-c41="" class="product-widget-wrap">
        <a _ngcontent-jkt-c41="" class="product-content-link ng-star-inserted" target="_blank" href="https://deals.airasia.com?utm_source=airasia&amp;utm_medium=product_widget">
            <div _ngcontent-jkt-c41="" class="product-widget-content ng-star-inserted">
                <div _ngcontent-jkt-c41="" class="product-widget-title">
                    <h2 _ngcontent-jkt-c41="" class="ng-star-inserted">
                            Miền Bắc</h2><!----><i _ngcontent-jkt-c41="" class="material-icons ng-star-inserted">chevron_right</i>
                </div><!----><p _ngcontent-jkt-c41="" class="ng-star-inserted">Explore local attractions and activities
                    at great prices</p>
            </div>
        </a><!---->
        <div _ngcontent-jkt-c41="" class="product-widget-main"><!---->
            <div _ngcontent-jkt-c41="" class="product-widget">
                <div _ngcontent-jkt-c41="" class="margin-on-mobile">
                    <div _ngcontent-jkt-c41="" class="flex-wrap"><!---->
                        <div _ngcontent-jkt-c41="" class="product-widget-item-wrap ng-star-inserted"
                             style="width: calc(33.3333%); visibility: visible;">
                            <div _ngcontent-jkt-c41="" class="product-widget-item">
                                    <div _ngcontent-jkt-c47="" class="product-card-wrap">
                                        <button _ngcontent-jkt-c47="" type="button"><!---->
                                            <div _ngcontent-jkt-c47="" class="ie-fix-wrapper-col">
                                                <div _ngcontent-jkt-c47="" class="product-card product-card-image-top"
                                                     style="min-height: 300px;">
                                                    <div _ngcontent-jkt-c47="" class="product-card-image-wrap"><!---->
                                                        <div _ngcontent-jkt-c47="" class="product-card-image"
                                                             style="width: 100%; height: 200px; background-image: url(&quot;https://images.vidi.co/offers/images/000/012/334/large/Snorkeling_Trip_from_Dive_Boat.jpg?1507605722&quot;);"></div>
                                                    </div>
                                                    <div _ngcontent-jkt-c47="" class="ie-fix-wrapper-row">
                                                        <div _ngcontent-jkt-c47="" class="product-card-content">
                                                            <div _ngcontent-jkt-c47="" class="product-card-header"><h3
                                                                        _ngcontent-jkt-c47=""
                                                                        title="Snorkeling Trip from Dive Boat"
                                                                        style="font-size: 1rem;"> Snorkeling Trip from
                                                                    Dive Boat </h3>
                                                                <div _ngcontent-jkt-c47=""
                                                                     class="product-card-text"></div>
                                                            </div>
                                                            <div _ngcontent-jkt-c47="" class="product-card-footer">
                                                                <!----><!---->
                                                                <div _ngcontent-jkt-c47="" class="ng-star-inserted">
                                                                    <!---->
                                                                    <div _ngcontent-jkt-c47=""
                                                                         class="product-card-footer-monetary ng-star-inserted">
                                                                        881,626 VND
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </button>
                                    </div>
                            </div>
                        </div>
                        <div _ngcontent-jkt-c41="" class="product-widget-item-wrap ng-star-inserted"
                             style="width: calc(33.3333%); visibility: visible;">
                            <div _ngcontent-jkt-c41="" class="product-widget-item">
                                    <div _ngcontent-jkt-c47="" class="product-card-wrap">
                                        <button _ngcontent-jkt-c47="" type="button"><!---->
                                            <div _ngcontent-jkt-c47="" class="ie-fix-wrapper-col">
                                                <div _ngcontent-jkt-c47="" class="product-card product-card-image-top"
                                                     style="min-height: 300px;">
                                                    <div _ngcontent-jkt-c47="" class="product-card-image-wrap"><!---->
                                                        <div _ngcontent-jkt-c47="" class="product-card-image"
                                                             style="width: 100%; height: 200px; background-image: url(&quot;https://images.vidi.co/offers/images/000/012/335/large/Snorkeling_Adventure_from_Male.jpg?1507605672&quot;);"></div>
                                                    </div>
                                                    <div _ngcontent-jkt-c47="" class="ie-fix-wrapper-row">
                                                        <div _ngcontent-jkt-c47="" class="product-card-content">
                                                            <div _ngcontent-jkt-c47="" class="product-card-header"><h3
                                                                        _ngcontent-jkt-c47=""
                                                                        title="Snorkeling Adventure from Male"
                                                                        style="font-size: 1rem;"> Snorkeling Adventure
                                                                    from Male </h3>
                                                                <div _ngcontent-jkt-c47=""
                                                                     class="product-card-text"></div>
                                                            </div>
                                                            <div _ngcontent-jkt-c47="" class="product-card-footer">
                                                                <!----><!---->
                                                                <div _ngcontent-jkt-c47="" class="ng-star-inserted">
                                                                    <!---->
                                                                    <div _ngcontent-jkt-c47=""
                                                                         class="product-card-footer-monetary ng-star-inserted">
                                                                        1,113,633 VND
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </button>
                                    </div>
                            </div>
                        </div>
                        <div _ngcontent-jkt-c41="" class="product-widget-item-wrap ng-star-inserted"
                             style="width: calc(33.3333%); visibility: visible;">
                            <div _ngcontent-jkt-c41="" class="product-widget-item">
                                    <div _ngcontent-jkt-c47="" class="product-card-wrap">
                                        <button _ngcontent-jkt-c47="" type="button"><!---->
                                            <div _ngcontent-jkt-c47="" class="ie-fix-wrapper-col">
                                                <div _ngcontent-jkt-c47="" class="product-card product-card-image-top"
                                                     style="min-height: 300px;">
                                                    <div _ngcontent-jkt-c47="" class="product-card-image-wrap"><!---->
                                                        <div _ngcontent-jkt-c47="" class="product-card-image"
                                                             style="width: 100%; height: 200px; background-image: url(&quot;https://images.vidi.co/offers/images/000/012/336/large/Night_Snorkeling_Trip_from_Male.jpg?1507605357&quot;);"></div>
                                                    </div>
                                                    <div _ngcontent-jkt-c47="" class="ie-fix-wrapper-row">
                                                        <div _ngcontent-jkt-c47="" class="product-card-content">
                                                            <div _ngcontent-jkt-c47="" class="product-card-header"><h3
                                                                        _ngcontent-jkt-c47=""
                                                                        title="Night Snorkeling Trip from Male"
                                                                        style="font-size: 1rem;"> Night Snorkeling Trip
                                                                    from Male </h3>
                                                                <div _ngcontent-jkt-c47=""
                                                                     class="product-card-text"></div>
                                                            </div>
                                                            <div _ngcontent-jkt-c47="" class="product-card-footer">
                                                                <!----><!---->
                                                                <div _ngcontent-jkt-c47="" class="ng-star-inserted">
                                                                    <!---->
                                                                    <div _ngcontent-jkt-c47=""
                                                                         class="product-card-footer-monetary ng-star-inserted">
                                                                        1,160,035 VND
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </button>
                                    </div>
                            </div>
                        </div>
                        <div _ngcontent-jkt-c41="" class="product-widget-item-wrap ng-star-inserted"
                             style="width: calc(33.3333%); visibility: hidden;">
                            <div _ngcontent-jkt-c41="" class="product-widget-item">
                                    <div _ngcontent-jkt-c47="" class="product-card-wrap">
                                        <button _ngcontent-jkt-c47="" type="button"><!---->
                                            <div _ngcontent-jkt-c47="" class="ie-fix-wrapper-col">
                                                <div _ngcontent-jkt-c47="" class="product-card product-card-image-top"
                                                     style="min-height: 300px;">
                                                    <div _ngcontent-jkt-c47="" class="product-card-image-wrap"><!---->
                                                        <div _ngcontent-jkt-c47="" class="product-card-image"
                                                             style="width: 100%; height: 200px; background-image: url(&quot;https://images.vidi.co/offers/images/000/012/337/large/Night_Snorkeling_69446999_xxl.jpg?1510723082&quot;);"></div>
                                                    </div>
                                                    <div _ngcontent-jkt-c47="" class="ie-fix-wrapper-row">
                                                        <div _ngcontent-jkt-c47="" class="product-card-content">
                                                            <div _ngcontent-jkt-c47="" class="product-card-header"><h3
                                                                        _ngcontent-jkt-c47=""
                                                                        title="Fluo Night Snorkeling from Male"
                                                                        style="font-size: 1rem;"> Fluo Night Snorkeling
                                                                    from Male </h3>
                                                                <div _ngcontent-jkt-c47=""
                                                                     class="product-card-text"></div>
                                                            </div>
                                                            <div _ngcontent-jkt-c47="" class="product-card-footer">
                                                                <!----><!---->
                                                                <div _ngcontent-jkt-c47="" class="ng-star-inserted">
                                                                    <!---->
                                                                    <div _ngcontent-jkt-c47=""
                                                                         class="product-card-footer-monetary ng-star-inserted">
                                                                        1,508,045 VND
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </button>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!---->
            <button _ngcontent-jkt-c41="" class="product-widget-arrows product-widget-arrow-right ng-star-inserted"><i
                        _ngcontent-jkt-c41="" class="material-icons">chevron_right</i></button>
        </div><!---->
        <div _ngcontent-jkt-c41="" class="product-widget-footer product-widget-content ng-star-inserted"><a
                    _ngcontent-jkt-c41="" target="_blank"
                    href="https://deals.airasia.com?utm_source=airasia&amp;utm_medium=product_widget&amp;currency=VND">
                See more activities<i _ngcontent-jkt-c41="" class="material-icons">chevron_right</i></a></div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
